
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-container form {
  width: 300px;
  background-color: #a5a5a5;
  padding: 5% 2% 5% 2%;
  border-radius: 10px;
}